# BFF Service Environment Variables

# Keycloak
KEYCLOAK_AUTH_URI=http://localhost:8443/realms/event-ticketing/protocol/openid-connect/auth
KEYCLOAK_TOKEN_URI=http://localhost:8443/realms/event-ticketing/protocol/openid-connect/token
KEYCLOAK_JWK_SET_URI=http://localhost:8443/realms/event-ticketing/protocol/openid-connect/certs
KEYCLOAK_USER_INFO_URI=http://localhost:8443/realms/event-ticketing/protocol/openid-connect/userinfo
KEYCLOAK_CLIENT_SECRET=secret

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Frontend
FRONTEND_URL=http://localhost:3000
